*{
    margin: 0;
    padding: 0;
}
body{
	margin: 0;
	padding: 0;
	height: 100vh;
	/*display: flex;*/
	justify-content: center;
	align-items: center;
	background: #0B0C10;
	color: #fff;
	margin : 0;
	padding: 0;
	perspective : 1px;
	transform-style: preserve-3d;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: "Luna";
}

#slider{
    overflow: hidden;
}
#slider figure{
    position: relative;
    width: 500%;
    height: 400px;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#slider figure img {
    height: 100%;
    width: 20%;
    float: left;
}
@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }

}
p{
	width: 50%;
	font-size: 15px;
	margin-top: 20px;
	margin-left: 8%;
	justify-content: center;
	color: white;
	line-height: 20px;
	word-spacing: 1px;
	font-family: "Luna";
}
#myhighlighter{
	height: 200px;
	width: 800px;
	margin-top:20px; 
	background-color: white;
	font-family: "Luna";
}
.left{
    transition: transform 1000ms ease-in; 
    transform: translateX(-50%);
}
.right{
    transition: transform 1000ms ease-in; 
    transform: translateX(50%);
}
.left.appear , .right.appear{
    transform: translateX(0);
}
